/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* responsive*/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* responsive*/
.btn--standard {
  border: none;
  background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  height: 50px;
  width: 200px;
  border-radius: 30px;
  margin: 20px 0;
  color: #F2F2F2;
  font-size: 0.85rem;
  font-weight: 700;
  box-shadow: 0px 0px 21px -5px #9E9E9E;
  transition: transform 300ms ease-in-out;
}
.btn--standard:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 2px 2px 25px 0px black;
}
.btn--standard:focus {
  outline: none;
}

/* responsive*/
@media only screen and (min-width: 767px) {
  .wrapper {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }
}
@media only screen and (min-width: 1023px) {
  .wrapper {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}
@media only screen and (min-width: 1400px) {
  .wrapper {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }
}

/* responsive*/
@keyframes testslide {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.load {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: bye 2400ms linear forwards;
}

.load__icon {
  background-image: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 0;
  font-size: 20px;
  margin: 10px;
  animation-name: roll;
  animation-duration: 2400ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@media only screen and (min-width: 767px) {
  .load__icon {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1023px) {
  .load__icon {
    font-size: 80px;
  }
}

@keyframes roll {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@keyframes bye {
  100% {
    display: none;
    z-index: -1;
  }
}
.load__icon:nth-child(5) {
  animation-delay: 100ms;
}

.load__icon:nth-child(4) {
  animation-delay: 200ms;
}

.load__icon:nth-child(3) {
  animation-delay: 300ms;
}

.load__icon:nth-child(2) {
  animation-delay: 400ms;
}

.load__icon:nth-child(1) {
  animation-delay: 500ms;
}

html, body {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  flex: 1 0 auto;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
}

.underhead {
  background-color: #F2F2F2;
}
.underhead__localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #e5e5e5;
  border-top: 3px solid #bfbfbf;
}
.underhead__localisation label {
  margin-left: 50px;
}
.underhead__localisation input {
  border: none;
  background-color: inherit;
  padding-left: 15px;
  color: black;
}
.underhead__localisation input::placeholder {
  font-weight: 700;
  color: black;
}
.underhead__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 20px;
}
.underhead__intro h1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 20PX;
}
.underhead__intro p {
  text-align: center;
  margin: 15px 0;
  color: #838383;
  width: 100%;
}

.function {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 20px;
}
.function__title {
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.function__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  border-radius: 20px;
  margin: 12.5px 10px;
  box-shadow: 0px 0px 21px -5px #9E9E9E;
}
.function__btn:hover {
  background-color: #f2eafb;
}
.function__btn:hover i {
  color: #9356DC;
}
@media only screen and (min-width: 1400px) {
  .function__btn {
    margin: 12.5px 20px;
    width: calc(33% - 40px);
  }
}
.function__number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -10px;
  background-color: #9356DC;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.function__name {
  width: 100%;
  font-weight: 600;
}
.function__name i {
  color: #8c8c8c;
  margin: 0 25px;
}

.restaurant {
  padding: 50px 20px;
  background-color: #F2F2F2;
}
.restaurant__title {
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.restaurant__card {
  width: 100%;
  height: 280px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  margin: 20px 0;
  box-shadow: 0px 0px 21px -5px #9E9E9E;
}
.restaurant__card .palette {
  background: url("images/restaurants/palette-du-gout.jpg") no-repeat center center/cover;
}
.restaurant__card .note {
  background: url("images/restaurants/la-note-enchantee.jpg") no-repeat center center/cover;
}
.restaurant__card .francaise {
  background: url("images/restaurants/A-la-francaise.jpg") no-repeat center center/cover;
}
.restaurant__card .delice {
  background: url("images/restaurants/le-delice-des-sens.jpg") no-repeat center center/cover;
}
@media only screen and (min-width: 1023px) {
  .restaurant__card {
    justify-content: space-between;
    width: 330px;
    flex-grow: 1;
    margin: 20px 20px;
  }
}
.restaurant__img {
  position: relative;
  height: calc(100% - 70px);
  width: 100%;
}
.restaurant__new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  padding: 5px 10px;
  text-decoration: none;
  color: #2c9c81;
  font-weight: 500;
  border-radius: 2px;
}
.restaurant__content {
  position: relative;
  height: 70px;
  padding: 10px;
}
.restaurant__name {
  font-weight: 700;
  line-height: 1.5rem;
}
.restaurant__localisation {
  line-height: 1.5rem;
  color: #8c8c8c;
}
.restaurant__like {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.restaurant__like i {
  font-size: 1.4rem;
}
.restaurant__like i:hover {
  cursor: pointer;
  font-weight: 700;
  background-image: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
@media only screen and (min-width: 1023px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
  }
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #353535;
  padding: 20px 20px;
  flex-shrink: 0;
}
.footer__logo {
  color: white;
  height: 34px;
}
.footer__logo svg {
  fill: white;
  width: 100px;
}
.footer__link {
  padding: 10px 0;
}
.footer ul li {
  margin: 10px 0;
}
.footer ul li i {
  height: 17px;
  width: 20px;
  color: white;
  margin-right: 15px;
}
.footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}
.footer ul li a:hover {
  opacity: 0.5;
}

/* responsive*/
@keyframes testslide {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.load {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: bye 2400ms linear forwards;
}

.load__icon {
  background-image: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 0;
  font-size: 20px;
  margin: 10px;
  animation-name: roll;
  animation-duration: 2400ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@media only screen and (min-width: 767px) {
  .load__icon {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1023px) {
  .load__icon {
    font-size: 80px;
  }
}

@keyframes roll {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@keyframes bye {
  100% {
    display: none;
    z-index: -1;
  }
}
.load__icon:nth-child(5) {
  animation-delay: 100ms;
}

.load__icon:nth-child(4) {
  animation-delay: 200ms;
}

.load__icon:nth-child(3) {
  animation-delay: 300ms;
}

.load__icon:nth-child(2) {
  animation-delay: 400ms;
}

.load__icon:nth-child(1) {
  animation-delay: 500ms;
}

.header__back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
}

.restau__img {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("../images/restaurants/A-la-francaise.jpg") no-repeat center center/cover;
}
.restau__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: 1;
  height: 65px;
  background-color: #F2F2F2;
  border-radius: 20px 20px 0 0;
}
.restau__title {
  padding-left: 20px;
  font-size: 1.6rem;
  font-family: "Shrikhand", cursive;
}
.restau__like {
  position: absolute;
  right: 40px;
  bottom: 5px;
}
.restau__like i {
  font-size: 1.4rem;
}
.restau__like i:hover {
  cursor: pointer;
  font-weight: 700;
  background-image: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.menu {
  background-color: #F2F2F2;
  width: 100%;
  padding-bottom: 80px;
  /* test d'animation */
}
.menu__section {
  width: 100%;
  padding: 20px 20px 0 20px;
}
@media only screen and (min-width: 1023px) {
  .menu__section {
    display: flex;
    flex-wrap: wrap;
  }
}
.menu .starter__title {
  animation-duration: 600ms;
}
.menu .starter article:nth-child(2) {
  animation-duration: 800ms;
}
.menu .starter article:nth-child(3) {
  animation-duration: 1000ms;
}
.menu .starter article:nth-child(4) {
  animation-duration: 1200ms;
}
.menu .starter article:nth-child(5) {
  animation-duration: 1300ms;
}
.menu .maincourse__title {
  animation-duration: 1400ms;
}
.menu .maincourse article:nth-child(2) {
  animation-duration: 1600ms;
}
.menu .maincourse article:nth-child(3) {
  animation-duration: 1800ms;
}
.menu .maincourse article:nth-child(4) {
  animation-duration: 2000ms;
}
.menu .dessert__title {
  animation-duration: 2200ms;
}
.menu .dessert article:nth-child(2) {
  animation-duration: 2400ms;
}
.menu .dessert article:nth-child(3) {
  animation-duration: 2600ms;
}
.menu .dessert article:nth-child(4) {
  animation-duration: 2800ms;
}
.menu__title {
  width: 100%;
  text-transform: uppercase;
  animation-name: testslide;
}
.menu__card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  border-radius: 15px;
  margin: 15px 0;
  box-shadow: 0px 0px 21px -5px #9E9E9E;
  animation-name: testslide;
  height: 64px;
}
.menu__card:hover {
  cursor: pointer;
}
.menu__card:hover .menu__content {
  width: calc(100% - 60px);
}
.menu__card:hover i {
  color: white;
  transition-duration: 1000ms;
  transform: rotate(-360deg);
}
.menu__card:hover p, .menu__card h6 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1023px) {
  .menu__card {
    width: calc(33% - 30px);
    margin: 15px;
  }
}
.menu__content {
  background-color: white;
  border-radius: 15px;
  z-index: 3;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}
.menu__anim {
  position: relative;
  background-color: #99E2D0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.menu__anim i {
  position: absolute;
  top: 22px;
  right: 20px;
  font-size: 20px;
  color: transparent;
}
.menu__name {
  width: calc(100% - 35px);
  font-size: 1rem;
  font-weight: 600;
  margin: 2px 0;
}
.menu__p {
  margin: 2px 0;
  width: calc(100% - 35px);
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__price {
  width: 35px;
  text-align: right;
  font-weight: 500;
}
@media only screen and (min-width: 1023px) {
  .menu {
    height: 100%;
  }
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

/*# sourceMappingURL=menu.css.map */
