@import "./libs/reset";
@import "./utils/variables";
@import "./utils/mixin";
@import "./components/button";
<<<<<<< HEAD
@import "../css/menu.css";
body {
=======
@import "./base/responsive";
// @import "../css/menu.css";
@import "./utils/anim";
html, body {
    display: flex;
    flex-direction: column;
>>>>>>> f13716ac093b7eed270d43c6fba08782c6fc415e
    background-color: white;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    flex: 1 0 auto;
    height: 100%;
    width: 100%;
}

.header {
    @include flex-center;
    position: relative;
    margin: 10px;
    &__logo {
        @include flex-center;
        width: 160px;
    }
}

.underhead {
    background-color: $background;
    &__localisation {
        @include flex-center;
        height: 50px;
        background-color: darken($background, 5%);
        border-top: 3px solid darken($background, 20%);
        & label {
            margin-left: 50px;
        }
        & input {
            border: none;
            background-color: inherit;
            padding-left: 15px;
            color: black;
            &::placeholder	{
                font-weight: 700;
                color: black;
            }
        }
    }   

    &__intro {
        @include flex-center;
        flex-wrap: wrap;
        padding: 30px 20px;
        & h1 {
            text-align: center;
            font-size: 1.6rem;
            font-weight: 900;
            padding: 20PX;
        }
        & p {
            text-align: center;
            margin: 15px 0;
            color:rgb(131, 131, 131);
            width: 100%;
            
        }
    }
}

.function {
    @include flex-center;
    flex-wrap: wrap;
    padding: 50px 20px;

    &__title {
        width: 100%;
        text-align: left;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__btn {
        @include flex-center;
        position: relative;
        width: 100%;
        height: 70px;
        background-color: lighten($background, 1%);
        border-radius: 20px;
        margin: 12.5px 10px;
        @include box-shadow;
        &:hover {
            background-color: lighten($primaire, 35%);
            & i {
                color: $primaire;
            }
        } 
        @media #{$x-large-up} {
            margin: 12.5px 20px;
            width: calc(33% - 40px);
        }

    }
    &__number {
        position: absolute;
        @include flex-center;
        left: -10px;
        background-color: $primaire;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    &__name {
        width: 100%;
        font-weight: 600;
        & i {
            color: darken($background, 40%);
            margin: 0 25px;
        }
    }

}

.restaurant {
    padding: 50px 20px;
    background-color: $background;
    &__title {
        width: 100%;
        text-align: left;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 30px;
    }
    &__card {
        width: 100%;
        height: 280px;
        border-radius: 15px;
        overflow: hidden;
        background-color: white;
        margin: 20px 0;
        @include box-shadow;

        & .palette {
            background: url("images/restaurants/palette-du-gout.jpg")
            no-repeat center center / cover;
        }
        & .note {
            background: url("images/restaurants/la-note-enchantee.jpg")
            no-repeat center center / cover;
        }
        & .francaise {
            background: url("images/restaurants/A-la-francaise.jpg")
            no-repeat center center / cover;
        }
        & .delice {
            background: url("images/restaurants/le-delice-des-sens.jpg")
            no-repeat center center / cover;
        }
        @media #{$large-up} {
            justify-content: space-between;
            width: 330px;
            flex-grow: 1;
            margin: 20px 20px;
        }
        



    }
    &__img {
        position: relative;
        height: calc(100% - 70px);
        width: 100%;
    }


    &__new {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $tertiaire;
        padding: 5px 10px;
        text-decoration: none;
        color: darken($tertiaire, 35%);
        font-weight: 500;
        border-radius: 2px;
    }

    &__content {
        position: relative;
        height: 70px;
        padding: 10px;
    }

    &__name {
        font-weight: 700;
        line-height: 1.5rem;
    }

    &__localisation {
        line-height: 1.5rem;
        color: darken($background, 40%);
    }

    &__like {
        position: absolute;
        bottom: 20px;
        right: 20px;
        & i {
            font-size: 1.4rem;
            &:hover {
                cursor: pointer;
                font-weight: 700;
                background-image: linear-gradient(360deg, $primaire 0%, $secondaire 100%);
                background-size: 100%;
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
            }
        }

    }
    @media #{$large-up} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.footer {
    margin-top: auto;
    width: 100%;
    background-color: rgb(53, 53, 53);
    padding: 20px 20px;
    flex-shrink: 0;
    &__logo {
        color: white;
        height: 34px;
        & svg {
            fill: white;
            width: 100px;
        }
    }

    &__link {
        padding: 10px 0;
    }

    & ul li {
        margin: 10px 0;
        & i {
            height: 17px;
            width: 20px;
            color: white;
            margin-right: 15px;
        }
        & a {
            text-decoration: none;
            color: white;
            font-size: 0.875rem;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

