@import "./variables";


@keyframes testslide {
    0% {
        opacity: 0;
        transform: translate( 0, 20px);
    }
    60% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.load {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: bye 2400ms linear forwards;
}

.load__icon {
    background-image: linear-gradient(360deg, $primaire 0%, $secondaire 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    opacity: 0;
    font-size: 20px;
    margin: 10px;
    animation-name: roll; 
    animation-duration: 2400ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    @media #{$medium-up} {
        font-size: 40px;
    }
    @media #{$large-up} {
        font-size: 80px;
    }
}

// @keyframes loading {
//     0% {
//         opacity: 1;
//         text-shadow: 0 0 4px $primaire;
//     }
//     90% {
//         opacity: 0.2;
//         text-shadow: none;
//     }
//     100% {
//         opacity: 1;
//         text-shadow: 0 0 4px $primaire;
//     }
// }


@keyframes roll {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(300px);
    }
  }

@keyframes bye {
    100% {
        display: none;
        z-index: -1;
    }
}

.load__icon:nth-child(5) {
    animation-delay: 100ms;
}
.load__icon:nth-child(4) {
    animation-delay: 200ms;
}
.load__icon:nth-child(3) {
    animation-delay: 300ms;
}
.load__icon:nth-child(2) {
    animation-delay: 400ms;
}
.load__icon:nth-child(1) {
    animation-delay: 500ms;
}
